/* .main-heading {
  font-size: 1.7rem;
  font-family: "Poppins";
  text-align: center;
  color: aliceblue;
} */
.msg-error {
  font-size: 1rem;
  font-family: Poppins;
  color: red;
  opacity: 0;
  font-weight: 600;
  padding: 10px;
  margin-top: 3%;
  transition: opacity 0.5 ease;
}
.form-container {
  margin-left: 33%;
  margin-top: 5%;
}
.main-form h2 {
  font-size: 1.6rem;
  color: aliceblue;
  font-family: Poppins;
}
input {
  padding: 10px;
  width: 50%;
  border-radius: 20px;
  outline: none;
  border: none;
  font-family: Poppins;
  font-size: 1.1rem;
}
body {
  background-image: url("backgrounImage.jpg");
  background-repeat: repeat-x;
}
form {
  background: rgba(74, 144, 226, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border-radius: 10px;
  padding: 2%;
  width: 50%;
  height: 60%;
  align-items: center;
  text-align: center;
}
button {
  font-size: 1.3rem;
  margin-top: 10%;
  font-family: Poppins;
  border-radius: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  padding: 10px;
  color: white;
  transition: all 1s ease;
}
button:hover {
  transform: scale(1.2);
}

                         /*Heading Styling !*/
    

                        
                        .ui-btn {
  --btn-default-bg: none;
  --btn-padding: 15px 20px;
  --btn-transition: .3s;
  --btn-letter-spacing: .1rem;
  --default-btn-color: #fff;
  --font-size: 46px;
  --font-weight: 600;
  --font-family: Menlo, Roboto Mono, monospace;
}

.ui-btn {
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.ui-btn span {
  letter-spacing: var(--btn-letter-spacing);
  box-sizing: border-box;
  position: relative;
}

.ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  animation: chitchat 1.2s linear infinite; /* Set animation iteration count to infinite */
  width: 100%; /* Ensure the ::before pseudo-element takes full width */
  height: 100%; /* Ensure the ::before pseudo-element takes full height */
}